<html>
    <Head>
        <title>
            <%= tittle %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- style%>
    </Head>
    <Body>
        <%-include('_header');%>
      <%- body%>
      <%-include('_footer');%>
      <%- script%>
    </Body>
</html>